*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(124, 21, 21);
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    
}
h1{
    font-size: 4rem;
}
#img_div{
    background: url(student.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-color: rgb(124, 21, 21);
    padding: 10px;
}
figure{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
#img_caption{
    margin: 15px 0 5px 0;
    color: #fff;
}
.container{
    text-align: center;
    color: #fff;
}
#header{
        margin: 50px 0;
        text-align: center;
}
h3{


        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
}

.list{
    margin: auto;
    width: 50%;
}
.list ul{
    text-align: left;
    line-height: 2,5em;
    
}
blockquote{
    padding: 20px;
    width: 50%;
    margin: auto;
}
